body {

    background: green;
}
table {
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    text-align: center;
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    text-align: center;
    background-color: yellow;
}
h3#1 {
    text-align: left;
}
h3#2 {
    text-align: right;
}
h1 {
    text-align: center;
}
form {
    text-align: center;
}